.productCard {
  width: 100%;
  max-width: 204px;
  border-radius: 8px;
  border: 1px solid var(--border-slate-200, #e2e8f0);
  background: var(--bg-slate-white, #fff);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 6px;
  margin: 0 auto;
  justify-content: space-between;
}

.productCard:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card__image {
  width: 100%;
  border-radius: 8px;
}

.card__infos {
  padding: 16px;
}

.card__price {
  color: var(--text-slate-900, #0f172a);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.card__title {
  color: var(--text-slate-900, #0f172a);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 12px;
}

.card__flagDiscount {
  display: flex;
  color: var(--text-green-700, #15803d);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 12px;
}

.card__infos p {
  color: var(--text-slate-900, #0f172a);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.card__listPrice {
  color: var(--text-slate-600, #475569);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-decoration: line-through;
}

.card__flagPercentage {
  border-radius: var(--radius-rounded, 4px);
  background: var(--bg-rose-200, #fecdd3);
  padding: 2px 4px;
  color: var(--text-slate-900, #0f172a);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.card__priceContainer {
  display: flex;
  gap: 12px;
}

.selectWeight {
  border-radius: var(--radius-rounded-md, 8px);
  border: 1px solid var(--border-slate-300, #cbd5e1);
  background: var(--bg-slate-white, #fff);
  color: var(--text-slate-900, #0f172a);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  height: 40px;
  margin-top: 8px;
  padding: 0 16px;
}

.selectWeight select:focus  {
  border: 1px solid var(--border-slate-300, #cbd5e1);
}
