.button__addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-rounded-md, 8px);
  background: var(--bg-slate-100, #f1f5f9);
  border-color: transparent;
  color: #fff;
  color: var(--text-slate-500, #64748b);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 32px;
  margin: 0 16px 16px;
  cursor: pointer;
}
