.cartItem {
  display: flex;
  align-items: end;
  border-radius: var(--radius-rounded-md, 8px);
  background: var(--bg-slate-white, #fff);
  padding: 16px;
  margin: 16px;
}

.cartItemImage {
  width: 70px;
}

.cartItemTitle {
  color: var(--text-slate-900, #0f172a);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 8px;
}

.cartItemPrice {
  color: var(--text-slate-900, #0f172a);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.cartItemContent {
  padding: 0 35px 0 10px;
}

.buttonRemoveItem {
  color: #0f172a;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 16px;
}

.containerPrice {
  display: flex;
  align-items: center;
  gap: 16px;
}

.containerPrice select {
  border-radius: var(--radius-rounded-md, 8px);
  border: 1px solid var(--border-slate-300, #cbd5e1);
  background: var(--bg-slate-white, #fff);
  color: var(--text-slate-900, #0f172a);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 12px 16px;
}
